body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;

}

.button {
    width: 200px;
    font-size: 18px;
    background: red;
    border-radius: 8px;
    padding: 10px;
    margin: 25px 0px;
    text-align: center;
    position: absolute;
    z-index: 1;
}


.main {
    margin: 50px;
    overflow-x: hidden;
}

.header {

    background-color: #161616;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 50%;
}

.article .title h1 {
    font-size: 2.5rem;

}

.article .headline p {
    font-size: 1.5rem;
    overflow-x: hidden;
    padding-right: 50px;
}

.image {
    margin-top: 240px;
    width: 50%;
}

.image img {
    width: 100%;
    object-fit: cover;

}

.fa-solid {
    margin-left: 10px;
}

/* left part start */
/* <Blog part start*/
.container2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

.options {
    width: 20%;
    margin-right: 120px;
}

.link-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    background: #000;
    border-radius: 10px;
}

.link-sections a {
    color: #000;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.link-sections a:hover {
    background-color: #dd0000;
}


#active {
    background-color: #dd0000;
    color: #fff;
}

/* right part start */
.container2 {
    width: 100%;
    margin: 30px;
}

.options2 {
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.options2 .blog .blog-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12 px 0px 0px;

}

.options2 .blog {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
}

.blog-text {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

#view {
    display: none;
    margin: 0 auto;

}

footer {
    width: 100%;
    height: 444px;
    background: #161616;
    padding-bottom: 50px;
}

.footer-title h1 {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 70px;
}

.footer-line {
    padding: 0 5%;
    opacity: 10%;
    margin: 0 10%;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-nav ul li {
    padding: 20px;
    list-style: none;
}

.footer-icon {
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    text-align: center;
    color: #B9B9B9;
    margin-left: 40%;
    margin-right: 40%;
    grid-gap: 30px;
}


@media only screen and (min-width: 577px) and (max-width: 768px) {

    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        background-color: #161616;
        color: #fff;
        padding: 25px;
        border-radius: 10px;
    }

    .headline p {
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 50px;

    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .link-sections {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background: none;
        border-radius: 10px;
    }
}

@media screen and (max-width: 576px) {}