body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
}

.header {
    display: grid;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    justify-items: center;

}

.image img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 613px;
    margin-top: 33px;
}

.container .article {
    width: auto;
    height: 424px;
    margin-left: 106px;
}

.title h1 {
    width: auto;
    height: 240px;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.title {
    font-size: 100%;
    overflow-wrap: normal;
}

.article {
    width: 100%;
}

.article .headline {
    width: auto;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 80px;
}

.button button {
    position: absolute;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
}

.fa-solid {
    margin-left: 10px;
}

/* left part start */


.container2 {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}


.options {
    display: grid;
    align-items: center;
    width: 252px;
    height: 252px;
}

.option {
    display: grid;
    grid-gap: 30px;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: Black;

}

a:hover,
a:active {
    background-color: #DD0000;
    color: white;

}

.button2 {
    width: 252px;
    height: 64px;
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

.button3 {
    border: none;
    width: 252px;
    height: 64px;
    background: #DD0000;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

/* left part end */
/* right part start */


.middle-part {
    display: grid;
    grid-template-columns: 25% 1fr;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;

}

.container3 {
    width: 100%;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 312px;
    grid-gap: 24px;
}

.blog {
    border: 1px solid rgb(233, 233, 233);
    width: 344px;
    height: 362px;
    border-radius: 10px;
}

.blog-image img {
    width: 345px;
    height: 175px;
}

.blog-button button {
    width: 100px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: #3f3f3f;
}

.blog-text {
    width: 272px;
    height: 54px;
    left: 496px;
    top: 1068px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #161616;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 143px;
    height: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.blog-icon1 {
    display: flex;
    align-items: center;
}

.blog-icon2 {
    display: flex;
    align-items: center;
}

/* right part end */

.special-buttons button {
    position: absolute;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    display: none;
}


.special-buttons {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* footer part start */

footer {
    width: 100%;
    height: 444px;
    background: #161616;
}

.footer-title h1 {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 70px;
}

.footer-line {
    padding: 0 5%;
    opacity: 10%;
}

.footer-nav {
    display: grid;
    -ms-flex-align: center;
    grid-template-columns: repeat(6, 1FR);
    color: #B9B9B9;
    margin-left: 20%;
    margin-right: 20%;
    grid-gap: 30px;
    opacity: 60%;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    text-align: center;
    color: #B9B9B9;
    margin-left: 40%;
    margin-right: 40%;
    grid-gap: 30px;
}

/* footer part end */

/* _-_-_---_--___-___-----_---_-------- */
/* _-_-_---_--___-___-----_---_-------- */
/* _-_-_---_--___-___-----_---_-------- */

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .special-buttons button {
        display: grid;
        align-items: center;
    }

    .container1 {
        width: 734px;
        height: 398px;
        background: #161616;
        border-radius: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .image img {
        width: 323px;
        height: 340px;
        margin-top: 57px;
    }

    .article {
        margin-left: 100px;
    }

    .article h1 {
        width: 289px;
        height: 120px;
        font-weight: 700;
        font-size: 35px;
        color: #FFFFFF;
    }

    .headline {
        margin: 0;
    }

    .headline p {
        width: 316px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }

    .button button {
        width: 161px;
        height: 48px;
        border-radius: 5px;
        margin: 0;
    }

    .middle-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }


    .container2 {
        background-color: white;
        border-radius: 10px;
        display: grid;
        align-content: center;
    }

    .option {
        display: flexbox;
        align-items: center;
    }

    .button1 {
        border: 1px solid black;
    }

    .button2 {
        border: 1px solid black;
    }

    a:hover,
    a:active {
        background-color: #DD0000;
        color: white;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-left: 0;
        align-items: center;
        margin-left: -50px;
    }


    footer {
        width: 100%;
        height: 550px;
        background: #161616;
    }

    .footer-nav {
        font-size: small;
        display: grid;
        -ms-flex-align: center;
        grid-template-columns: repeat(6, 1FR);
        color: #B9B9B9;
        margin-right: 3%;
        margin-left: 3%;
        opacity: 60%;
    }

}






@media screen and (max-width: 576px) {

    .container1 {
        width: 450px;
        height: 636px;
        background: #161616;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .image img {
        width: 270px;
        height: 300px;
        margin-top: 135px;
    }

    .article {
        width: 320px;
        height: 200px;
    }

    .article h1 {
        width: 228;
        height: 66px;
        font-weight: 700;
        font-size: 22px;
        color: #FFFFFF;
        margin-top: 40px;
        text-align: center;
    }

    .headline {
        margin-top: 0px;
    }

    .headline p {
        width: 258px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
        margin-left: 30px;
        margin-top: -40px;


    }

    .button button {
        width: 161px;
        height: 40px;
        border-radius: 5px;
        margin-left: 70px;
        margin-top: -20px;
    }

    .middle-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .container2 {
        background-color: white;
        border-radius: 10px;
        display: grid;
        align-content: center;
        margin-top: -80px;
    }

    .option {
        display: flexbox;
        align-items: center;
    }

    .button1 {
        border: 1px solid black;
    }

    .button2 {
        border: 1px solid black;
    }

    a:hover,
    a:active {
        background-color: #DD0000;
        color: white;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 0;
        justify-items: center;
    }

    footer {
        width: 100%;
        height: 412px;
        background: #161616;
    }

    .footer-title h1 {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 5%;
    }

    .footer-line {
        padding: 0 15%;
        margin-top: -20px;
        opacity: 10%;
    }

    .footer-nav {
        font-size: small;
        display: inline;
        text-align: center;
        color: #B9B9B9;
        padding-top: 100px;
        opacity: 60%;
    }

    .footer-icon {
        margin-top: -20px;
    }
}